/* custom css */
:root {
    --mod-black: rgb(29, 28, 28);
    --mod-crimson: rgb(238, 13, 58);
}

/* fonts family */

header,
footer {
    font-family: 'Nunito',
        sans-serif;
}

main {
    font-family: 'Roboto Condensed',
        sans-serif;
}

/* common styles or utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
    /* background-color: blue; */
}

.btn {
    border: none;
    background-color: var(--mod-crimson);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}

.view-btn {
    display: none;
}

/* header section styles */

.title {
    width: 100%;
    height: 70vh;
    background-color: var(--mod-black);
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.title-content {
    width: 50%;
    color: white;
    padding: 15px;
}

.title-content>h1 {
    font-weight: 700;
    font-size: 45px;
}

.title-content>p {
    font-size: 14px;
    margin: 15px 0;
}

.btn>.fa-chevron-right {
    margin-left: 10px;
}

.title-img {
    width: 50%;
    position: absolute;
    bottom: -19px;
    right: 15px;
    padding: 15px;
}

.title-img>img {
    width: 100%;
    height: 68vh;
}

/* main section styles */

.main-section {
    margin: 40px 0;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.sidebar {
    width: 25%;
    height: 200px;
    background-color: var(--mod-black);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    column-gap: 10px;
    padding: 20px;
}

.sidebar-item {
    background-color: white;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 7px;
    text-align: center;
}

.sidebar>a {
    text-decoration: none;
    color: black;
}

#blog {
    background-color: var(--mod-crimson);
}

.transfer-section {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.transfer-card {
    width: 100%;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    gap: 20px;
}

.card-content {
    margin-left: 10px;
    margin-bottom: 15px;
}

.card-img>img {
    width: 100%;
}

.transfer-btn {
    padding: 2px 5px;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.fa-clock,
.fa-comment-dots {
    margin-right: 5px;
}

/* footer section styles */

.footer-section {
    height: 300px;
    background-color: var(--mod-black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-content>h3 {
    font-size: 30px;
}

.footer-content>hr {
    width: 100%;
    border: 1px dotted gray;
}

.info-section {
    display: flex;
    gap: 20px;
}

.info-section p {
    font-size: 14px;
}

.info-1,
.info-2 {
    display: flex;
    gap: 20px;
}

.social-icon {
    display: flex;
    gap: 30px;
}

.fa-brands {
    color: rgb(99, 21, 172);
    font-size: 25px;
}

/* media queries */

/* for mobiles */

@media only screen and (max-width:550px) {
    .title {
        flex-direction: column;
        height: 100vh;
    }

    .title-content {
        width: 100%;
        height: 45vh;
        text-align: center;
    }

    #ellipsis {
        text-overflow: ellipsis;
    }

    .title-img {
        width: 100%;
        left: 5px;
    }

    .title-img>img {
        width: 100%;
        height: 50vh;
    }

    .main-section {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin-bottom: 40px;
    }

    .sidebar-item {
        width: 150px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        border: 1px solid gray;
    }

    .transfer-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-section {
        height: 500px;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }

    .info-1,
    .info-2 {
        flex-direction: column;
        align-items: center;
    }
}

/* for tablets */

@media only screen and (min-width: 551px) and (max-width:900px) {
    .title {
        height: 80vh;
    }

    .title-img>img {
        height: 78vh;
    }

    .main-section {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;

    }

    .sidebar-item {
        width: 150px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        border: 1px solid gray;
    }

    .transfer-section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #card {
        display: none;
    }

    .view-btn {
        display: inline;
        margin-top: 30px;
    }

    .info-section {
        flex-direction: column;
        align-items: center;
    }
}