/* custom css */
:root {
    --mod-black: rgb(29, 28, 28);
    --mod-crimson: rgb(238, 13, 58);
}

/* fonts family */
header,
footer {
    font-family: 'Nunito',
        sans-serif;
}

main {
    font-family: 'Roboto Condensed',
        sans-serif;
}

/* common styles or utilities */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 85%;
    margin: 0 auto;
    /* background-color: red; */

}

.btn {
    border: none;
    background-color: var(--mod-crimson);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}

/* header section styles */
.title {
    width: 100%;
    height: 60vh;
    background-color: var(--mod-black);
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.title-content {
    width: 50%;
    /* height: 60vh; */
    /* background-color: blue; */
    color: white;
    padding: 15px;
}

.title-content>h1 {
    font-weight: 700;
    font-size: 45px;
}

.title-content>p {
    font-size: 14px;
    margin: 15px 0;
}

.btn>.fa-chevron-right {
    margin-left: 10px;
}

.title-img {
    width: 50%;
    /* height: 60vh; */
    /* background-color: yellow; */
    position: absolute;
    bottom: -19px;
    right: 15px;
    padding: 15px;
}

.title-img>img {
    width: 100%;
    height: 58vh;
}

/* main section styles */
.main-section {
    margin: 40px 0;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.sidebar {
    width: 25%;
    height: 200px;
    background-color: var(--mod-black);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    column-gap: 10px;
    padding: 20px;
}

.sidebar-item {
    background-color: white;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 7px;
    text-align: center;
}

.sidebar>a {
    text-decoration: none;
    color: black;
}

.transfer-section {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.transfer-card {
    width: 100%;
    height: 250px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    border: 1px solid gray;
    border-radius: 10px;
    gap: 20px;
}

.card-content {
    margin-left: 10px;
}

.card-img>img {
    width: 100%;
}

.transfer-btn {
    padding: 2px 5px;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.fa-clock,
.fa-comment-dots {
    margin-right: 5px;
}